@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#navbar {
  background-color: rgb(0, 0, 0);
}

#barra {
  border-left: 2px solid;
  border-color: azure;
}

div.carousel-inner {
  max-height: 40rem;
}


body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: #f7f7f7;
}

#carouselExampleIndicators {
  width: 100%;
  object-fit: cover;
}

div#imagens {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10;
}
.efeito-prod {
  width: 20em;
  transition: all 0.5s ease-in-out;
}

.efeito-prod:hover {
  transform: scale(1.03);
}

.tamanho-row {
  width: 80%;
  padding: 30px 0;
}