@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#navbar {
  background-color: rgb(0, 0, 0);
}

#barra {
  border-left: 2px solid;
  border-color: azure;
}

div.carousel-inner {
  max-height: 40rem;
}


body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: azure;
}

#carouselExampleIndicators {
  width: 100%;
  object-fit: cover;
}

div#imagens {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10;
}