.row-principal-produto{
    padding: 10px;
    margin-bottom: 20px;
}

.col-principal-produto{
    margin: auto;
}

.row-interna-produto{
    background: white;
    color: slategray;
}

.col-imagem{
    padding: 30px;
}

.imagem-produto{
    width: 100%;
}

@media (max-width: 575px)
{
  .imagem-produto
   {
        width: 50%;
   }
   .col-imagem{
       text-align: center;
   }
}

.col-descricao{
    padding: 30px;
}

.nome-produto{
    text-align: center;
    font-size: clamp(1em, 0.25em + 3vw, 1.75em);
}

.descricao-produto{
    margin: 60px 0 20px 0;
    font-size: clamp(0.6em, 0.6em + 1vw, 0.9em);
}

.div-botao-produto{
    text-align: right;
    padding-bottom: 10px;
}

.botao-produto{
    background-color: #6627EC;
    border-color: #6627EC;
}

.botao-produto:hover{
    background-color: #3b158b;
    border-color: #3b158b;
}

