.produto {
    background-color: white;
    color: black;
    padding: 10px;
}

.imagem-produto{
    width: 100%;
}

.nome-produto{
    text-align: center;
}

.descricao-produto{

}

.botao-produto{
    position: absolute;
    right: 12px;
}

.position-relative{
    position: relative;
}

.container-produto{
    margin: 10px;
}

.borda{
    border: 1px solid red;
}






















.caixa-botao-teste{
    text-align: right;
    padding-bottom: 10px;
}

.imagem-produto-teste{
    width: 100%;
}

.nome-produto-teste{
    text-align: center;
    font-size: clamp(1em, 0.25em + 3vw, 1.75em);
}

.produto-descricao-paragrafo-teste{
    margin: 20px 0;
    font-size: clamp(0.6em, 0.6em + 1vw, 0.9em);
}

.botao-produto-teste{
    text-align: center;
}

.produto-teste{
    margin: auto;
}

.produto-row{
    padding: 10px;
}

.caixa-produto-interna{
    background: white;
    color: slategray;

}

.container-produto-teste{
}

.produto-descricao-teste{
    padding: 30px;
}

.produto-imagem-teste{
    padding: 30px;
}